<extend name="Common:add"/>
<block name="content">
    <div class="main-div">
        <form method="post" action="{:U()}">
            <table cellspacing="1" cellpadding="3" width="100%">
                <tr>
                    <td class="label">标题</td>
                    <td>

                        <input type="text" name="name" value="{$row.name|default=''}"> <span
                            class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">文章分类</td>
                    <td>

                        {:arr2select('article_category_id',$articleCategorys)}
                    </td>
                </tr>

                <tr>
                    <td class="label">内容</td>
                    <td>

                        <textarea name="content" style="resize: none" cols="40"
                                  rows="6">{$row.content|default=''}</textarea>
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">摘要</td>
                    <td>

                        <textarea name="intro" style="resize: none" cols="40"
                                  rows="6">{$row.intro|default=''}</textarea>
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">状态</td>
                    <td>

                        <input type="radio" name="status" class="status" value="1">是 <input type="radio" name="status"
                                                                                            class="status" value="0">否
                        <span class="require-field">*</span>
                    </td>
                </tr>

                <tr>
                    <td class="label">排序</td>
                    <td>

                        <input type="text" name="sort" value="{$row.sort|default=20}"> <span
                            class="require-field">*</span>
                    </td>
                </tr>


                <tr>
                    <td colspan="2" align="center"><br/>
                        <input type="hidden" name="id" value="{$row.id}"/>
                        <input type="submit" class="button ajax-post" value=" 确定 "/>
                        <input type="reset" class="button" value=" 重置 "/>
                    </td>
                </tr>
            </table>
        </form>
    </div>

</block>